body{
    background-color: hsl(30, 54%, 90%);
    font-family: outfit;
    font-size: 16px;
    color:hsl(30, 10%, 34%);
}

.recipe-border{
    background-color:  hsl(0, 0%, 100%);
    margin: auto;
    width:650px;
    display: flex;
    flex-direction:column;
    padding:25px 25px 25px 25px;
    border-radius: 14px;
    margin-top:85px;
}

.food-image{
    border-radius: 5px;
}

.title{
    color:hsl(24, 5%, 18%);
    font-family: young serif;
    font-size:30px;
    font-weight: 100;
    margin-bottom: -1px;
}

.description{
    margin-bottom:35px;
}

.time{
    color:hsl(332, 51%, 32%);
    font-weight: 500;
    font-size: 17px;
    margin-left: 20px;
}

.recipe, .instructions, .nutrition-title{
    color:hsl(14, 45%, 36%);
    font-weight: 400;
    font-family: young serif;
    font-size: 20px;
}

.value-one,.value-two, .value-three,.value-four{
    color:hsl(14, 45%, 36%);
    font-weight: 700;
}

.nutri{
    display: flex;
    justify-content:space-between;
    margin-left: 35px;
}

.value-two,.value-three{
    margin-left: -20px;
}

.value-four{
    margin-left: 4px;
}

.preparation-time{
    background-color: hsla(322, 94%, 79%, 0.122);
    border-radius: 5px;
}

.list-preparation{
    margin-top:-10px;
    line-height: 30px;
}

li{
    line-height: 30px;
}

h2{
    margin-top:30px;
}

.desc{
    margin-bottom:20px;
}

hr{
    border-style:groove;
}

